.header{
    background-color: rgb(81, 3, 155);
    position: sticky;
    top: 0%;
    z-index: 1;
    border-bottom: 1px solid white;

    .containerNavbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;

            .imagenLogo{
            margin-left: 20px;
            width: 50px;
            height: 50px;
            }

            .titulo{
                font-size: 40px;
                font-weight: 400;
                margin: 20px;
                color: white;
            }
        }



        nav{
            gap: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 25px;

            .enlace {
            text-decoration: none;
            color: white;
            margin: 20px;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        }

    }
}